body { font-family: sans-serif; font-size: 16pt; }
table { font-size: 16pt; }
td { text-align: center; }
td.fullname_cell { text-align: left; }
th { background-color: #4f81bd; color: white; height: 3em; }
tr.evenrow { background-color: #e9edf4; color: black; height: 4em; }
tr.oddrow { background-color: #d0d8e8; color: black; height: 4em; }
#playerth { width: 150pt; }
#wongamesth { width: 55pt; }
#playedth { width: 55pt; }
.template { display: none; }
.round_robin_buffer_col {
	width: 30px;
	display: none;
	}
.wins_cell, .plays_cell { display: none; }
.last_result_col, .next_game_col {
	min-width: 200px;
	}

.tie_icon_key { display: none; }
.current_opp_icon_key { display: none; }
