.session_col, .round_col, .starts_col, .venue_col {
	text-align: center;
}
.contest_count_col {
	text-align: center;
}
.player_count_col {
	text-align: center;
}
td.ordinal_col {
	text-align: center;
}
td.rating_col, td.score_col {
	text-align: right;
}
td.placement_col {
	text-align: center;
}
td.w_points_col {
	text-align: center;
}
td.performance_col {
	text-align: right;
}
.scenario_col {
	text-align: center;
	padding-bottom: 0;
}
.dominion_link {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 3px;
	background-color:: #aaa;
}
.placement_col {
	text-align: center;
}
.turn_order_col {
	text-align: center;
}
.tabular_form th.player_col {
	text-align: left;
}
.template {
	display: none;
}
.game_count_col {
	text-align: center;
}
.player_inline_list {
	list-style-type: none;
	padding: 0;
}
.player_inline_list li {
	display: inline;
	padding: 0px 3px;
}

.driller_container {
	margin-bottom: 1em;
}
.driller_heading {
	margin: 0;
	color: black;
	background-color: #f73;
	border: 1px solid #c30;
	cursor: pointer;
	padding: 3px 10px;
	font-size: 12pt;
}
.driller_content {
	display: none
}
.popup_menu {
	display: none;
	position: absolute;
	padding: 2px;
	border: solid black 1px;
	background-color: white;
}

.new_player_autocomplete_item .member_number {
	font-size: 8pt;
	color: #444;
	background-color: #fc4;
}

.pairings_container {
	overflow: scroll;
	left: 0;
	right: 0;
	height: 500px;
	border: 1px solid black;
	background-color: #8f8;
	font-family: Verdana, sans-serif;
}

.pairings_container td {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
	padding-bottom: 1em;
}

.match_container .caption {
	background-color: #ccc;
	text-align: center;
	border: 1px outset #888;
}

.match_container {
	display: block;
	border: 2px outset #888;
	background-color: #eee;
	color: black;
}
.match_container.template {
	display: none;
	}
.match_container.over {
	border: 2px solid #fff;
	}

.pairings_container .players_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.pairings_container .players_list li {
	border-bottom: 1px solid #ccc;
	padding: 1pt 2pt 1pt 2pt;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.pairings_container .players_list li:last-child {
	border-bottom: none;
}

.scheduler_table {
	border-collapse:collapse;
	width: 100%;
}
.scheduler_table caption .scheduler_day {
	font-size: 16pt;
	font-weight: bold;
}
.scheduler_table th {
	background-color: #eb8;
	border: 1px solid black;
}
.scheduler_table td.time_col {
	background-color: #eb8;
	border: 1px solid black;
	width: 100px;
}
.scheduler_table tr.even td {
	background-color: #fdc;
}
.scheduler_table td {
	text-align: center;
}
.scheduler_table th, .scheduler_table td {
}

.tournament_roster_table .status_col {
	min-width: 75px;
	text-align: center;
}
.tournament_roster_table .raw_score_col {
	min-width: 75px;
	text-align: center;
	font-weight: bold;
}
.round_result_col {
	min-width: 75px;
	text-align: center;
}
.column_sort_link {
	color: black;
}

.add_player_info {
	margin-left: 1in;
	margin-right: 1in;
	border: 2px solid black;
	background-color: #ddf;
	color: black;
}
.add_player_info ul.opponent_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
