.session_num_col {
	text-align: center;
}
.contest_name_col {
	text-align: center;
}
.contest_count_col {
	text-align: center;
}
.player_count_col {
	text-align: center;
}
.rating_col, .score_col, .placement_col {
	text-align: right;
}
