.session_num_col {
	text-align: center;
}
.contest_name_col {
	text-align: center;
}
.contest_count_col {
	text-align: center;
}
.player_count_col {
	text-align: center;
}
td.rating_col, td.score_col, td.placement_col {
	text-align: right;
}
.scenario_col {
	text-align: center;
	padding-bottom: 0;
}
.dominion_link {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 3px;
	background-color:: #aaa;
}
.placement_col {
	text-align: center;
}
.turn_order_col {
	text-align: center;
}
.tabular_form th.player_col {
	text-align: left;
}
.template {
	display: none;
}
.game_count_col {
	text-align: center;
}
.player_inline_list {
	list-style-type: none;
	padding: 0;
}
.player_inline_list li {
	display: inline;
	padding: 0px 3px;
}

.driller_container {
	margin-bottom: 1em;
}
.driller_heading {
	margin: 0;
	color: black;
	background-color: #f73;
	border: 1px solid #c30;
	cursor: pointer;
	padding: 3px 10px;
	font-size: 12pt;
}
.driller_content {
	display: none
}
